.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}
body {
  background: #262b2e
}

.logo{
  margin:0 auto;
  width:300px;
  margin-bottom: 10px;
}
.logo-container{
  width:100%;
  background: #fff;
  padding-left:20px;
}

.navbar{
  background: #fff !important;
}
.nav-item li a{
  color:#000 !important;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link{
  color:#000 !important;
}