.page-header{
    text-align: center;
    margin:0 auto;
}
.navbar-header{
    text-align: center;
    width:100%
}
.clear{
    clear:both;
}
.navbar-nav{

}

.container-setting{
    overflow: hidden
}
.affix {
    top: 0;
    width: inherit;
    z-index: 9999 !important;
    background: #eee !important;
    float:left !important;
    margin:0 !important;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.affix .navbar-nav li a{
    background: #eee !important;
}
.navbar-nav {
    width: 100%;
    text-align: center;
 
  }

  .navbar-nav li {
    float: none;
    display: inline-block;
  }
.navbar-nav li a{
    background: #fff;
}

.navbar-default{
    background: #fff ;
    border:none;
}
.logo{
    margin: 0px;
    width: 200px;
}
.logo img{
    max-width: 100%;
}
header.masthead{
    padding-top: 0px;
}

.nice-button{
    border:2px solid #000;
    background:#fefefe;
  }
  
@media (max-width:768px){
    #mainNav .navbar-nav>li.nav-item>a.nav-link{
        font-size: 20px;
        line-height: normal;
        padding: 5px 0px;
        text-decoration: underline;
    }
    #navbarResponsive{
        margin: 0 auto;
    }
    .logo{
        margin: 0px auto 20px;
        width: 300px;
    }
}
@media screen and (max-width: 990px) {
 
}
.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
.w3-content{max-width:980px;margin:auto}.w3-rest{overflow:hidden}
.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}