html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 2rem; }

body {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); }

.alignCntr {
  text-align: center; }

.hdrlogo {
  margin: 5rem 0; }

svg {
  width: 24px;
  height: 24px;
  fill: #5F8291; }
  svg:hover {
    fill: #121212; }

.socialico {
  display: inline-block; }

p {
  line-height: 1.65rem; }

.coinmarketcap-currency-widget {
  background: #f2f2f2;
  border-radius: 10px; }

@media (min-width: 768px) {
  body {
    padding: 0; } }
